<div class="flex my-20">
    <div class="block items-center justify-center text-center w-full">
        <h2>Subscribe to our newsletter</h2>
        <p>Receive a preview of the latest trends, promotions, and much more!</p>
        <div class="block  flex-col py-5 px-10">
            <input type="email" placeholder="@email" class="px-10 py-2 rounded-md mx-5
             text-zinc-950 outline-none text-sm w-3/12">
        <button *ngIf="true" mat-raised-button type="" color="accent">
            subscribe
        </button>
        </div>
        <div class="my-14">
            <hr class="w-4/5 bg-slate-50 m-auto ">
        </div>
        <div class="flex m-auto justify-around">
            <div class="item">
                <h2>Need help ?</h2>
            </div>
            <div class="item">
                <h2>Help</h2>
                <ul>
                    <li><a>Buy online</a></li>
                    <li><a href="">Payment</a></li>
                    <li><a href="">Delivery</a></li>
                    <li><a href="">Returns</a></li>
                    <li><a href=""></a>Electronic tickets</li>
                </ul>
            </div>
            <div class="item">
                <h2>We are SHOP</h2>
                <ul>
                    <li><a>About us</a></li>
                    <li><a>Join Life</a></li>
                    <li><a>Work with us</a></li>
                    <li><a>Press</a></li>
                    <li><a>Our shops</a></li>
                </ul>
            </div>
            <div class="item">
                <h2>This may interest you</h2>
                <ul>
                    <li ><a>Dresses</a></li>
                    <li><a>Jackets</a></li>
                    <li ><a>Coats</a></li>
                    <li><a>Sweaters and cardigans</a></li>
                    <li><a>Baggy</a></li>
                    <li><a>Pants</a></li>
                </ul>
            </div>
            <div class="flex item ">
                <h2>social media</h2>
            </div>
        </div>
    </div>
</div>
<div class="owner w-full text-center">
    <p>	&#169; <span class="text-xl">pkalala27</span></p>
</div>